URxvt*font:         xft:DroidSansMono:size=15
URxvt*geometry:     100x20

URxvt*scrollBar:    false
urxvt*lineSpace:    0
urxvt*letterSpace:  -2

URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt*scrollKey:        true

URxvt*transparent:      false

URxvt*antialias:  true
URxvt*autohint:   false

! Colors
URxvt*foreground:   #657b83
URxvt*background:   #002b36
URxvt*.cursorColor: #93a1a1
